<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>All messages</title>
</head>
<body>

<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<form action="#" th:action="@{/messages}" th:object="${message}" method="post" modela>
    <label for="text">Enter text: </label>
    <input type="text" th:field="*{text}" id="text"/>

    <br/>
    <label for="tag">Enter tag: </label>
    <input type="text" th:field="*{tag}" id="tag"/>

    <br/>

    <input type="submit" value="Create!"/>
</form>

<h1>Message list</h1>

<table>
    <tr>
        <th>id</th>
        <th>text</th>
        <th>author</th>
    </tr>
    <tr th:each="message : ${messages}">
        <td th:text="${message.getId()}">ID</td>
        <td th:text="${message.getText()}">text</td>
        <td th:text="${message.getTag()}">tag</td>
        <td th:text="${message.getAuthorName()}">author</td>
    </tr>
</table>

</body>
</html>