<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>All messages</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<form method="POST" th:action="@{/messages}" enctype="multipart/form-data">
    <label for="text">Enter text: </label>
    <input type="text" name="text" id="text"/>

    <br/>
    <label for="tag">Enter tag: </label>
    <input type="text" name="tag" id="tag"/>

    <br/>
    <label for="file">Enter tag: </label>
    <input type="file" name="file" id="file"/>

    <br/>

    <input type="submit" value="Create!"/>
</form>

<h1>Message list</h1>

<table>
    <tr>
        <th>id</th>
        <th>text</th>
        <th>tag</th>
        <th>author</th>
        <th>image</th>
    </tr>
    <tr th:each="message : ${messages}">
        <td th:text="${message.getId()}">ID</td>
        <td th:text="${message.getText()}">text</td>
        <td th:text="${message.getTag()}">tag</td>
        <td th:text="${message.getAuthorName()}">author</td>

        <td>
            <div th:if="${message.filename != null}">
                <img th:src="@{'/img/' + ${message.filename}}" th:alt-title="#{logo}"/>
            </div>
        </td>
    </tr>
</table>

</body>
</html>